CLIENT_ID_42=""
CLIENT_SECRET_42=""
BASE_URL_42="https://api.intra.42.fr" #base URL alterada 
REDIRECT_URI_42="https://unspasmodically-perigynous-lael.ngrok-free.dev/login/42" #URL de redirecionamento alterada